main{
    background-color: #fff;
    width: 300px;
    height: 550px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 15px; 
}
h1{
    text-align: center;
}
.woman{
    position: absolute;
    bottom: 90%;
    height: 140px;
}
.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h5{
    // padding: 15px;
    font-size: 0.8rem;
    // padding-left: 5px;
    color: rgb(99, 99, 99);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.arrow{
    height: 10px;
    margin-left: 7px;
}
.content{
    display: none;
}
p{
    height: 0;
}